# Ignoruj wszystko w folderze input...
input/*
# ...ale nie ignoruj pliku .gitkeep (który musisz tam utworzyć)
!input/.gitkeep

# To samo dla output
output/*
pom/
!output/.gitkeep
templates_db/*
!templates_db/.gitkeep
zpom/*
app/gotowe_dokumenty/*
!app/gotowe_dokumenty/.gitkeep
llama.md
models/*
!models/.gitkeep
venv/*
llama/*
model/*