body {
    font-family: 'Outfit', sans-serif;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

.summary-header-row-hidden {
    display: none;
}

.summary-hidden-fields {
    display: none;
}
